* text=auto

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.neon linguist-language=YAML

/.github export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
/tests export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
psalm.xml export-ignore
rector.php export-ignore
